body{
  background-image: url("https://c1.staticflickr.com/3/2900/33230796166_912d01c6a3_b.jpg");
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    -o-background-size: 100%;
    padding-top: 25px;
    margin-top: 100px;
}
